/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

.panel-container{
	width:350px;
	color:#908e8e;
	.gray-top-message {
		background-color:#353535;
		color:#fff;
		padding:17px;
		border-radius:5px;
		text-align:center;
		font-size:17px;
	}
	b {
		&.orange{
			color:#f16027;
		}
		&.grey-soft{
		 color:#353535;
		}
	}

	.panel-inner {
		margin-top:15px;
		border:1px solid #dedede;
		height:300px;

		.content{
			padding:20px;
		}

		.line{
			height:20px;
			box-shadow: inset 0px 0px 1px 2px #ededed;
			.progress{
				height:20px;
				background:#f16027;
				border-bottom:1px solid #dedede;
				width:76%;
			}

		}
		input , button{
			width:45%;
			height:50px;
			padding:10px;
			font-size:20px;
			border-radius:5px;
			margin-right:10px;
		}
		input[type="text"]{
			border:1px solid #dedede;
		}
		button {
			background-color:green;
			color:#fff;
			border:none;
		}
		.why{
			margin-top: 15px;
    	color: #26b4ef;
    	font-weight: bold;
    	font-size: 18px;
		}
	}


.buttons{
	width:100%;
	a {
		font-weight:boder;
		display:block;
		padding:15px 10px;
		float:left;
		width:160px;
		text-align:center;
		border:1px solid #dedede;
		border-radius:5px;
		margin:10px 10px 10px 0px;
	}
}

.panel-inner {
	margin-top:15px;
	border:1px solid #dedede;
	height:300px;

	.content{
		padding:20px;
	}

	.line{
		height:20px;
		box-shadow: inset 0px 0px 1px 2px #ededed;
		.progress{
			height:20px;
			background:#f16027;
			border-bottom:1px solid #dedede;
			width:76%;
		}

	}
	input , button{
		width:45%;
		height:50px;
		padding:10px;
		font-size:20px;
		border-radius:5px;
		margin-right:10px;
	}
	input[type="text"]{
		border:1px solid #dedede;
	}
	button {
		background-color:green;
		color:#fff;
		border:none;
	}
	.why{
		margin-top: 15px;
		color: #26b4ef;
		font-weight: bold;
		font-size: 18px;
	}
}


.buttons{
width:100%;
a {
	font-weight:boder;
	display:block;
	padding:15px 10px;
	float:left;
	width:160px;
	text-align:center;
	border:1px solid #dedede;
	border-radius:5px;
	margin:10px 10px 10px 0px;
}
}	
